.jo-show-backoffers {
  margin-bottom: 7px;
}

.grid-container {
  // box-shadow: 0px 1px 6px $mygray;
  // border-radius: 5px;
  margin-left: 75px;
  margin-bottom: 75px;
  display: grid;
  grid-template-columns: 15px 25px 350px 25px 250px;
  grid-template-rows: 75px 25px 25px 60px 250px 50px;
  grid-template-areas:
    "leftpad header header header header"
    "leftpad iconloc location iconcat category"
    "leftpad icontime time iconother other"
    "leftpad desctitle desctitle desctitle desctitle"
    "leftpad description description description description"
    "leftpad footer footer footer cta";
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.jo-show-grid-background {
  grid-column: 1 / span 5;
  grid-row: 1 / span 6;
  z-index: -1000;
  box-shadow: 0px 1px 6px $gray-400;
  border-radius: 5px;
}

.jo-show-job-title {
  grid-area: header;
  align-self: center;
  border-bottom: 1px solid $gray-200;
  margin-right: 15px;
  max-height: 75px;
  overflow: scroll;
}

.jo-show-job-title h1{
  font-size: 44px;
  margin-bottom: 0;
}

.jo-show-job-location {
  grid-area: location;
  color: $gray-500;
  padding-right: 10px;
  line-height: 120%;
  max-height: 30px;
  overflow: scroll;
  align-self: center;
}

.jo-show-job-time {
  grid-area: time;
  display: flex;
  justify-content: flex-start;
  color: $gray-500;
  align-self: center;
}

.jo-show-time-content {
  margin-left: 10px;
}

.jo-show-job-category {
  grid-area: category;
  color: $gray-500;
  align-self: center;
}

.jo-show-job-iconloc {
  grid-area: iconloc;
}

.jo-show-job-icontime {
  grid-area: icontime;
}

.jo-show-job-iconcat {
  grid-area: iconcat;
}

.jo-show-icons {
  font-size: 16px;
  color: $gray-500;
}

.jo-show-job-desc-title {
  grid-area: desctitle;
  align-self: center;
  font-size: 32px;
}

.jo-show-job-desc-content {
  grid-area: description;
  border-bottom: 1px solid $gray-200;
  margin-right: 15px;
  background-color: #f9fafa;
  padding: 10px;
  max-height: 250px;
  overflow: scroll;
}

.jo-show-cta {
  grid-area: cta;
  align-self: center;

}

.jo-show-cta-owner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-right: 50px;
}

.jo-show-cta-edit {
  padding-right: 7px;
}


// media query for mobile

@media (max-width: 480px) {

.jo-show-backoffers {
  margin-bottom: 7px;
}

.grid-container {
  margin-left: 0px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 15px 25px 280px;
  grid-template-rows: 75px 25px 25px 25px 0px 60px 250px 50px;
  grid-template-areas:
    "leftpad header header"
    "leftpad iconloc location"
    "leftpad icontime time"
    "leftpad iconcat category"
    "leftpad iconother other"
    "leftpad desctitle desctitle"
    "leftpad description description"
    "leftpad footer cta";
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.jo-show-grid-background {
  grid-column: 1 / span 3;
  grid-row: 1 / span 8;
}

.jo-show-job-title {
  max-height: 60px;
  overflow: scroll;
}

.jo-show-job-title h1{
  font-size: 32px;
}

.jo-show-job-location {
  max-height: 30px;
  overflow: scroll;
}

.jo-show-job-desc-title {
  font-size: 24px;
  overflow: scroll;
}

.jo-show-cta-owner {
  padding-right: 25px;
}

.jo-show-cta-edit {
  padding-right: 10px;
}

}
