@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif');

// Define fonts for body and headers
$font-family-base: "PT Sans", "sans-serif";
$body-font: "PT Sans", "sans-serif";
$headers-font: "PT Serif", "serif";
