.home-main-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-home-links {
  margin-bottom: 10px;
}

.hp-last-offers {
  padding-top: 25px;
}

.hp-last-offers-offer {
  display: flex;
}

.hp-offer-date {
  padding-left: 5px;
  font-size: 14px;
  color: $mygray;
}
