.hp-banner {
  height: 50vh;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: column;
}

.hp-header-text {
  min-width: 345px;
}

.hp-header-tagline {
  font-size: 18px;
}

.hp-header-cta {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-main-links {
  display: flex;
  justify-content: space-around;
  min-width: 345px;
}

.btn-home-links {
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 1px 8px $gray-800;

}

.hp-last-offers {
  padding-top: 25px;
}

.hp-last-offers-offer {
  display: flex;
  padding: 10px 0px;
}

.hp-last-offers-offer a{
  text-decoration: none;
}

.hp-offer-date {
  padding-left: 5px;
  font-size: 14px;
  color: $mygray;
}


// media queries

@media (min-width: 600px) {

.home-main-links {
  min-width: 500px;
}

}

@media (min-width: 1000px) {

h1 {
  font-size: 56px;
}

.hp-header-tagline {
  font-size: 24px;
}

.home-main-links {
  min-width: 750px;
}


.btn-home-links {
  height: 55px;
  width: 225px;
  font-size: 24px;
}

}
