<div class="container-fluid content-1st-header">
  <h1>
    <div>Edit application for:</div>
    <div> <%= @job_offer.title %></div>
  </h1>
</div>

<div class="container-fluid myforms col-xs-12 col-sm-9 col-md-6 col-lg-4">
  <%= render 'shared/job_application_form' %>
</div>
