<h1>JobApplications#show</h1>
<p>Find me in app/views/job_applications/show.html.erb</p>
<div class="card">
  <div>For job: <%= @job_application.job_offer.title %></div>
  <div>Motivation text: <%= @job_application.motivation %></div>
</div>
