<div class="navbar-container">
  <div class="navbar-home"><%= link_to "Home", root_path %></div>
  <div id="navbar-burger">
    <i class="fas fa-bars navbar-burger-icon"></i>
  </div>
</div>

<%= render "shared/navbar_menu_right"  %>

