html,
body {
  width: 100%;
}

html,
body,
.container-main {
  height: 100%;
  overflow: auto;
}

.container-main {
  display: flex;
  flex-direction: column;
}

.container-content {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.content-1st-header {
  padding-top: 25px;
}

.content-1st-header {
  padding-top: 25px;
}

.alert {
  margin-bottom: 0 !important;
}
