<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "See all job offers", job_offers_path, class: "btn btn-primary" %>
<%= link_to "Create new Job Offer", new_job_offer_path, class: "btn btn-primary" %>
