<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "See all job offers", job_offers_path, class: "btn btn-primary" %>
<% if user_signed_in? %>
  <%= link_to "See my applications", job_applications_path, class: "btn btn-primary" %>
  <%= link_to "Create new Company", new_company_path, class: "btn btn-primary" %>
  <%= link_to "My companies", companies_path, class: "btn btn-primary" %>
<% end %>
