<div class="container-fluid comp-index-header">
  <h1>Companies#index</h1>
  <p>Find me in app/views/companies/index.html.erb</p>
</div>

<div class="container-fluid comp-index-offers">
  <div>
    <h2>My companies</h2>
  </div>
  <% @companies.each do |company| %>
    <div class="card">
      <div>Company: <%= link_to company.name, company_path(company) %></div>
      <div>Website: <%= company.website %></div>
      <div><%= link_to "Create job offer", new_company_job_offer_path(company) %></div>
      <div><%= link_to "Edit", edit_company_path(company) %></div>
    </div>
  <% end %>
</div>
