<div class="container-fluid jo-index-header">
  <h1>JobOffers#index</h1>
  <p>Find me in app/views/job_offers/index.html.erb</p>
</div>

<div class="container-fluid comp-index-offers">
  <div>
    <h2>All Job Offers</h2>
  </div>

  <% @job_offers.each do |job_offer| %>
    <div class="card">
      <div><%= job_offer.company.name %></div>
      <div><%= link_to job_offer.title, job_offer_path(job_offer) %></div>
      <div><%= job_offer.description %></div>
      <div>Job applications' count: <%= job_offer.job_applications.length %> </div>
    </div>
  <% end %>
</div>
